@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.25rem;
}

.text-center {
    text-align: center;
}

nav {
    width: 100%;
    padding: 1.25rem 2.25rem;
    background-color: #f5f5f5;
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.logo {
    font-size: 2rem;
    color: slategray;
}

.logo:hover {

    color: #899bb0;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: darkseagreen;
    font-size: 1.25rem;
    font-weight: bold;
}

nav li {
    margin-right: 1.25rem;
    list-style-type: none;
}

.nav-icon {
    font-size: 1.25rem;
    color: slategray;
}

.nav-icon:hover {
    color: #899bb0;
}

.loadingSpinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------- */
/* ------ Home Page ------ */
/* ---------------------- */
.appointments-list {
    max-width: 800px;
    padding: 1.25rem 2.25rem;
    margin: 2rem 6rem;
}

.card {
    margin: 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.50);
}

.card:hover {
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.card-header h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
}

.card-description {
    font-size: 1rem;
    color: black;
    margin-bottom: 0.25rem;
}

.card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 0.50rem;
    margin-bottom: 0.25rem;
}

.notes h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
}

/*.notes {*/
/*    border-right: 1px solid #ccc;*/
/*    padding-right: 1rem;*/
/*}*/

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.links {
    margin-bottom: 0.25rem;
}

.links h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.15rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;
}

.pill {
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

.pill-pending {
    background-color: orange;
    color: dimgrey;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.pill-confirmed {
    background-color: blue;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.pill-cancelled {
    background-color: red;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.pill-professional {
    color: dodgerblue;
    background-color: lightblue;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

.pill-personal {
    color: #fff;
    background-color: darkgreen;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.pill-medical {
    color: #fff;
    background-color: deeppink;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

/* ---------------------- */
/* ------ Add Page ------ */
/* ---------------------- */
.form-wrapper {
    display: flex;
    flex-direction: column;
}

.add-form-container {
    display: flex;
    flex-direction: column;
    min-width: 600px;
    padding: 1.25rem 1.5rem;
    background-color: #dfdfdf;
    border-radius: 0.75rem;
}

.add-form-inputs {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.add-form-inputs label{
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.address-form-section {
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
}

.address-heading {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.small-text {
    font-size: 0.75rem;
    color: #999;
}

.optional-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-form-inputs input {
    margin-bottom: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.add-form-select-textarea {
    margin-bottom: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.add-form-button {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #3636de;
    color: #fff;
}

.add-form-button:hover {
    cursor: pointer;
    background-color: #0c0cd8;
}